weather {
 
  .weather{
    background: #333b5b;
    color: #fff;
    }
 
 .temp {
     text-align: center;
     font-size: 30px;
     font-weight: normal;
 }
 
.location, .icon, .desc{
    text-align: center;
    }
}